body {
    background-color: #f7f9fc;
    color: #333;
    font-family: Arial, sans-serif;
}

.darktheme body {
    background-color: #222;
    color: #ccc;
}

button {
    padding: 6px;
    background-color: white;
    color: black;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #eee;
}

.darktheme button {
    border-color: #444;
    background-color: #515050;
    color: white;
}

.darktheme button:hover {
    background-color: #616060;
}

.important-button, .darktheme .important-button {
    background-color: #0066ff;
    color: #fff;
    border: none;
}

.important-button:hover, .darktheme .important-button:hover {
    background-color: #0750bd;
}