/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 11, 2024, 5:08:15 p.m.
    Author     : alexp
*/
@import "generic.css";
@import "dropdown.css";

table{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 3px solid white;
    border-radius: 10px;
}

.darktheme table{
    background-color: #333;
    border-color: #333;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.5);
}

input[type="text"], input[type="number"] {
    margin: 0;
    background-color: #fff;
    border: none;
}

.darktheme input[type="text"], .darktheme input[type="number"] {
    background-color: #333;
    color: white;
}

.important-button,
.darktheme .important-button {
    margin: 10px 0;
}