/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 12, 2024, 7:22:44 p.m.
    Author     : alexp
*/
@import "generic.css";
@import "dropdown.css";

.class-info {
    display: inline-block;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.darktheme .class-info {
    background-color: #414040;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.5);
    color: #eee;
}

.class-info .header {
    background-color: #007bff;
    color: white;
    margin: -10px;
    margin-bottom: 5px;
    padding: 10px 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 0px;
}

.class-info .header p {
    margin: 0;
    padding: 0;
    width: max-content;
}

.class-info .header button {
    margin-top: 0px;
    margin: 2px;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0;
    text-align: center;
}

.darktheme .class-info .header button {
    margin-top: 0px;
    margin: 2px;
    height: 20px;
    width: 20px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0;
    text-align: center;
}

.class-info .header img {
    width: 67%;
    height: 67%;
    margin: 3.5px;
    display: block;
}

.darktheme .class-info .header img {
    filter: invert(1);
}

.dropdown-content .delete,
.darktheme .dropdown-content .delete {
    color: red;
}





