/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 15, 2024, 1:11:45 p.m.
    Author     : alexp
*/
@import "dropdown.css";
@import "generic.css";

h3 {
    margin: 10px;
    color: #333;
}

.darktheme h3 {
    color: #eee;
}

table {
    margin: auto;
}