/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 12, 2024, 9:01:01 a.m.
    Author     : alexp
*/
@import "generic.css";

input[type="radio"] {
    margin-bottom: 10px;
}

textarea {
    width: 80%;
    font-size: 14px;
    background-color: #f7f9fc;
    color: #333;
    border-collapse: separate;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6px;
    overflow: hidden;
}

.darktheme textarea {
    background-color: #505050;
    border-color: #555;
    color: #eee;
}

.important-button {
    padding: 12px;
}