/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 11, 2024, 5:08:15 p.m.
    Author     : alexp
*/
@import "generic.css";
@import "dropdown.css";

table{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-bottom: 20px;
}

th {
    border: none;
}

input[type="text"], input[type="number"] {
    margin: 0;
    background-color: #fff;
    border: none;
}

.darktheme input[type="text"], .darktheme input[type="number"] {
    background-color: #333;
    color: white;
}

input[type="text"].bordered {
    border: 1px solid #cccccc;
    float: left;
}

.important-button,
.darktheme .important-button {
    margin: 10px 0;
}