/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 13, 2024, 4:56:18 p.m.
    Author     : alexp
*/
html {
    padding: 0;
}

body {
    margin: 0;
}

.topnav {
  background-color: #eee;
  overflow: hidden;
  margin: 0;
  width: 100%
}

.topnav button {
  float: right;
  background-color: #e0f0ff;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 6px;
  border-radius: 5px;
}